.list-users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px 0;

  @include mobile() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include below(520px) {
    grid-template-columns: 1fr;
  }
}
