.footer-container {
  background-color: $quartz;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .jsm-logo {
    max-width: 200px;
    width: 100%;
    color: white;
  }

  > .company-name {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
  }

  > .social-label {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  > .social-container {
    display: flex;
    justify-content: center;

    .social-item {
      background-color: $tomato;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
      @include shadow;

      > .social-logo {
        width: 100%;
      }
    }
  }
}
