.not-found-page {
  > .container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 100px;
    > .not-found-illustration {
      width: 100%;
      max-width: 500px;
    }
  }
}
